.ant-collapse-content > .ant-collapse-content-box{
  padding: 0 !important;
}
.footer {
  position: 'fixed';
  z-index: 1;
  width: '100%';
  bottom: 0;
  padding: 16px 0;
}
.order-manager{

}
.order-manager__container{
  display: flex;
  flex-direction: column;
  min-height: 190px;
  padding: 5px;
  justify-content: flex-start;
  margin-top: 64px;
  min-height: 100vh;
}
.order-manager__navlink{
  margin-top: 20px;
}
.menu-wrapper{
  position: fixed;
  z-index: 10 ;
}
.main-menu__background{
  z-index: 10 ;
  background-color: black;
  opacity: .5;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 64px;
  left: 0;
}
.transform-translate{
  transform:translateX(-100vw);

}
.nav-link{
  width: 70%;
}
.footer{
  position: fixed;
  z-index: 1;
  width: 100%;
  bottom: 0;
  padding: 16px 0;
  height: 64px;
}
.order-creation{

  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 200vw;
  transition: transform .3s ease-out;
  margin-top: 64px;
  margin-bottom: 64px;

  padding-top: 5px;
  min-height: calc(100vh - 64px);
}
.order-creation__section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
}
.order-creation__section_j-c-center{
  justify-content: flex-start;
  
}
.order-creation__item{
  text-align: center;
}
.header__button{

}
.header{
  position: fixed;
  z-index: 1;
  width: 100%;
}
.order-creation__button-wrapper{
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
}
.order-creation__navlink{
  width: 50%;
  margin: 0 5px;
}
.add-button{
  margin: 5px auto;

}
.raw-material-item{
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
}
.custom-input{
  max-width: 110px;
}
.raw-material-item__delete-btn{
}
.order-view__general-list-row{
  margin-top: 50px;
}
.admin{
  margin-top: 64px;
  padding: 5px 5px 0;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}
.admin__button{
  margin-bottom: 10px;
}
.options{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 64px;
  padding: 5px 5px 70px;

}
.options__radio-group{
text-align: center;
min-height: 80px;
}
.slider_red .ant-slider-track{
  background-color: red;
}
.slider_green .ant-slider-track{
  background-color: greenyellow;
}
.registration__button{
  text-align: center;
}
.client_collapse{

}
.client_panel{
  width: 100vw;
}
.modal__wrapper{

}

.client-view__bolder{
  font-weight: bold;
}

.orderTable{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.add-button_edit-order{
  margin: 20px auto;
  position: absolute;
  left: calc(50% - 16px);

}
.new-price-item{
  margin: 5px -15px;
  background-color: rgba(252, 251, 192, .5);
  padding: 3px;
  border-radius: 7px;
}